.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 40px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 22px;
  }
}

@media screen and (max-width: 615px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 28px 22px 31px;
  }
}
