.popup__img {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

/* @media screen and (max-width: 816px) {
  .popup__img {
    max-width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .popup__img {
    max-width: 240px;
  }
} */
