.profile__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 18px;
}

@media screen and (max-width: 615px) {
  .profile__content {
    column-gap: 10px;
  }
}
