.gallery__delete {
  width: 18px;
  height: 19px;
  position: absolute;
  background-image: url(../../../images/Trash.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  top: 26px;
  right: 21px;
}

.gallery__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
